[Th]humbs.db
*.DS_Store

*.user
*.aps
*.pch
*.ncb
*.suo
*.ilk
*.vspscc
*.vssscc

packages/
Backup/
_UpgradeReport_Files/
UpgradeLog.XML
ipch/
[Bb]in/
[Dd]ebug/
[Rr]elease/
[Bb]uild/
obj/
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

.svn/
~$*